/*! grid.css @ 2017, yamoo9.net */

.row::after, 
.clear-fix::after {
    content: '';
    display: block; 
    clear: both;
} 

body, figure {
    margin: 0;
}
.navbar {
    z-index: 10000;
}
.hero-wrapper {
    z-index: 1000;
}

img {
    /*사진 아래 공간 없어짐*/
    vertical-align: bottom;
}

.logo {
    float: left;
}
.btn-drawer {
    float: right;
}

@media screen and (max-width: 480px) {
    .container {
        /* width: 100%; */
        max-width: 480px;
        height: 300vh;
        margin-left: 1.6rem; 
        margin-right: 1.6rem;  
    }
    body { 
        background: #4dc995; 
        font-size: 1.4rem;
    }    
    .hero-img-m {
        width: 100%;
        height: auto;
    }
    .hero-img-t, .hero-img-d {
        display: none;
    }
    .navbar-bg {
        width: 100%;
        height: 6.4rem;
        background: #ffffff;
    }
    .navbar-divider {
        width: 100%;
        height: .4rem;
        background: #0b4bce;
    }
    .logo {
        width: 163px;
        height: 23px;
    }
    .btn-drawer {
        width: 24px;
        height: 17px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1280px) {
    .container {
    width: 100%;
    /*height: 100vh;*/
    /* margin-left: 3.2rem; */
    /* margin-right: 3.2rem;  */
    margin-left: auto;
    margin-right: auto;
    }
    body { 
        background: #fed761; 
        font-size: 1.7rem;
    }  
    .hero-img-t {
        width: 100%;
        height: auto;
    }
    .hero-img-m, .hero-img-d {
        display: none;
    }
    .navbar-bg {
        width: 100%;
        height: 9.6rem;
        background: #ffffff;
    }
    .navbar-divider {
        width: 100%;
        height: .4rem;
        background: #0b4bce;
    }

}

@media screen and (min-width: 1281px) {
    .container {
    width: 100%;
    /*height: 100vh;*/
    margin-left: auto;
    margin-right: auto; 
    }
    body { 
        background: #3273dc; 
        font-size: 1.6rem;
    }  
    .hero-img-d {
        width: 100%;
        height: auto;
    }
    .hero-img-m, .hero-img-t {
        display: none;
    }
    .navbar-bg {
        width: 100%; 
        height: 9.6rem;
        background: #ffffff;
    }
    .navbar-divider {
        width: 100%;
        height: .4rem;
        background: #0b4bce;
    }

}