/*!mhye's*/
html {
    /*font-size: 10px;*/
    background: #fff;
}

body {
    margin: 0;
}

body.guide::before {
    content: '';
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 50%;
    margin-left: -640px;
    height: 200vh;
    width: 1280px;
}

body.guide.baseline::before {
    /*베이스라인 그리드*/
    background: linear-gradient( 180deg, transparent 23px, green 23px);
    background-size: 1px 24px;
}

body.columns::before {
    /*컬럼그리드*/
    background: linear-gradient(90deg, hsla(21, 90%, 65%, .4) 50%, hsla(80, 90%, 65%, .4) 50%);
    background-size: 320px 1px;
    /*background-size: 가로 세로;*/
}

body.columns-baseline::before {
    /*베이스라인 + 컬럼 합치기*/
    background:
        /*linear-gradient(각도, 시작색 시작위치, 끝색 시작위치);*/
        linear-gradient(180deg, transparent 0px, transparent 23px, #500076 23px, #500076 24px),
        linear-gradient(90deg, hsla(0, 100%, 87%, .2) 50%, hsla(0, 100%, 87%, .4) 50%);
        background-size: 1px 24px, 320px 1px;
}


/*컨테이너 모듈*/
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /*확인하기 위한*/
    /*height: 100vh;
    background: red;*/
}

/*row, .clearfix 모듈*/
.row::after,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/*.column 모듈*/
.column {
    float: left;
    /*디자인상 확인하기 위한*/
    /*width: 160px;
    height: 160px;
    background: black;*/
}

.is-1 { width: 160px;}
.is-2 { width: 320px;}
.is-3 { width: 480px;}
.is-4 { width: 640px;}
.is-5 { width: 800px;}
.is-6 { width: 960px;}
.is-7 { width: 1120px;}
.is-8 { width: 1280px;}

.is-offset-1 { margin-left: 160px;}
.is-offset-2 { margin-left: 320px;}
.is-offset-3 { margin-left: 480px;}
.is-offset-4 { margin-left: 640px;}
.is-offset-5 { margin-left: 800px;}
.is-offset-6 { margin-left: 960px;}
.is-offset-7 { margin-left: 1120px;}
.is-offset-8 { margin-left: 1280px;}