body {
    margin: 0;
}

.banner {
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 800px;
    height: 320px;

    margin-top: -160px;
    margin-left: -400px;
    /*margin: -160 0 0 -400px;*/
    
    background: #222;
}

.banner-apes,
.banner-golliras,
.banner-kingkong,
.banner-logo,
.banner-content {
/*     position: absolute; */
}

.banner-apes {

}
.banner-golliras {

}
.banner-kingkong {
    position: absolute;
    bottom: 0;
    right: 11px;
}
.banner-logo {
    position: absolute;
    

}
.banner-headline {

}
